﻿@model IEnumerable<Prueba.Domain.Model.Kardex>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdDocumento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdKardex }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdKardex }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdKardex })
        </td>
    </tr>
}

</table>
