﻿@model IEnumerable<Prueba.Domain.Model.CompraDetalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Compra.Factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producto.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Compra.Factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCompraDetalle }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCompraDetalle }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCompraDetalle })
        </td>
    </tr>
}

</table>
